<section>
    <div class="message">
        <div>Now let's turn your house into a
            sparkling home</div>
        <p>CONFIRM YOUR SERVICE</p>
    </div>
    <div class="d-flex justify-content-evenly align-items-center flex-wrap">
        <ul>
            <li *ngIf="step2.typeOfConstruction == 'famliar'">Famliar house (BA {{step2.bathroomsNumber}}, BR
                {{step2.bedroomsNumber}})</li>
            <li *ngIf="step2.typeOfConstruction == 'apartment'">Apartment or studio</li>
            <li *ngIf="step4.frequency.frequency == 'monthly'">Monthly ({{step4.frequency.week}})</li>
            <li *ngIf="step4.frequency.frequency == 'one_time'">One time</li>
            <li *ngIf="step4.frequency.frequency == 'every_two_weeks'">Every two weeks</li>
            <li *ngIf="step4.frequency.frequency == 'weekly'">Weekly</li>
            <li *ngFor="let extra of step3.extraServices">Extra: {{extra}}</li>
            <li>{{step2.bedroomsNumber}} bedroom - {{step2.bathroomsNumber}} bathroom</li>
        </ul>

        <form [formGroup]="step6Form" class="help-container">
            <div class="help-title">ENTRY NOTES</div>
            <textarea formControlName="notes" id="notes" rows="5"
                placeholder="Leave us any special instructions or questions in your request. We will respond you promptly."></textarea>
        </form>

        <div class="price">
            <h2>YOUR TOTAL FEE IS</h2>
            <h3>{{servicePrice|currency}}</h3>
        </div>

    </div>
    <div class="d-flex align-items-center justify-content-center button-container">
        <a class="next-step" *ngIf="stripeUrl" [href]="stripeUrl">Let´s go to pay platform</a>
        <button *ngIf="!stripeUrl" (click)="onNextStep()" [disabled]="!step6Form.valid || isLoading" class="next-step">
            <span *ngIf="!isLoading">Order now!</span>
            <app-spinner *ngIf="isLoading"></app-spinner>
        </button>
    </div>
</section>