.message div {
    margin-bottom: 2rem;
}

.message p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-image: url('/icons/check.svg');
}

.help-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.price {
    text-align: center;
    padding-top: 3rem;
}


.price h3 {
    color: var(--secondary-green);
    font-size: xx-large;
}

textarea {
    width: 400px;
}

.loading {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.next-step:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}