<section>
    <h2>Data Use Authorization</h2>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <img src="/icons/warning.svg" alt="warning ico" width="24" height="24">
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <h3>Important</h3>
        </div>
    </div>
    <div class="politics-container">
        <p>
            Before continuing, we need your
            permission to collect and use your
            personal data in accordance with our
            <a href="">privacy policy</a>.
        </p>
        <form [formGroup]="step1Form" style="display: inline;">
            <input type="checkbox" id="acceptTerms" formControlName="acceptTerms">
        </form>
        <label for="acceptTerms">I have re ad and accept the privacy
            policy and the use of my personal
            data.</label>
    </div>
    <div class="d-flex align-items-center justify-content-center button-container">
        <button [disabled]="step1Form.invalid" class="next-step" (click)="onNextStep()">Accept terms and conditions</button>
    </div>
</section>