<h1>Orders</h1>
<div class="search-container">
    <input type="text" id="searchInput" placeholder="Search for names.." [(ngModel)]="searchQuery" (input)="filterOrders()">
</div>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        <tr *ngFor="let order of orders">
            <td>{{ order.name }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.phone }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.notes }}</td>
            <td>{{ order.status }}</td>
            <td>
                <button class="btn btn-info" (click)="showDetails(order)">Details</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="pagination">
    <button id="prevBtn" (click)="prevPage()">Previous</button>
    <button id="nextBtn" (click)="nextPage()">Next</button>
</div>

<app-alert [data]="selectedOrder" [isVisible]="isModalVisible" (close)="isModalVisible = false">
</app-alert>