<div class="modal-overlay" *ngIf="isVisible">
    <div class="modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail</h5>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><strong>Name:</strong> {{ data?.name }}</li>
                    <li><strong>Email:</strong> {{ data?.email }}</li>
                    <li><strong>Phone:</strong> {{ data?.phone }}</li>
                    <li><strong>Address:</strong> {{ data?.address }}</li>
                    <li><strong>Extra Services:</strong> {{ data?.extra_services?.join(', ') }}</li>
                    <li><strong>Type of Construction:</strong> {{ data?.type_of_construction }}</li>
                    <li><strong>Number of Bedrooms:</strong> {{ data?.bedrooms_number }}</li>
                    <li><strong>Number of Bathrooms:</strong> {{ data?.bathrooms_number }}</li>
                    <li><strong>Notes:</strong> {{ data?.notes }}</li>
                    <li><strong>Status:</strong> {{ data?.status }}</li>                    
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>