<section>
    <div class="message">
        <span>We will quote your service at the right
            price and according to your real needs.</span>
    </div>
    <div class="d-flex justify-content-evenly align-items-center flex-wrap">
        <button [ngClass]="{'active': selectedType === 'studio'}" class="tab-button" (click)="selectType('studio',1,1)">
            <img src="/icons/apartment.svg" alt="small icon">
            <div>1 room / 1 bath</div>
        </button>
        <button [ngClass]="{'active': selectedType === 'small'}" class="tab-button" (click)="selectType('small',2,1)">
            <img src="/icons/apartment.svg" alt="small icon">
            <div>2 rooms / 1 bath</div>
        </button>
        <button [ngClass]="{'active': selectedType === 'medium'}" class="tab-button" (click)="selectType('medium',2,2)">
            <img src="/icons/house.svg" alt="medium icon">
            <div>2 rooms / 2 bath</div>
        </button>
        <button [ngClass]="{'active': selectedType === 'large'}" class="tab-button" (click)="selectType('large',3,2)">
            <img src="/icons/house.svg" alt="large icon">
            <div>2 rooms / 2 bath</div>
        </button>
        <button [ngClass]="{'active': selectedType === 'custom'}" class="tab-button" (click)="selectType('custom',0,0)">
            <img src="/icons/commercial.svg" alt="commercial icon">
            <div>Large Home and Commercial</div>
        </button>
    </div>
    <div class="price" *ngIf="selectedType !== 'custom'">
        <h2>Service price</h2>
        <h3>{{servicePrice | currency}}</h3>
    </div>
    <div class="d-flex align-items-center justify-content-center button-container"
        *ngIf="selectedType !== 'custom'">
        <button [disabled]="step3Form.invalid" class="next-step" (click)="onNextStep()">Next step</button>
    </div>
    <div class="d-flex align-items-center justify-content-center button-container"
        *ngIf="selectedType === 'custom'">
        <a class="contact" href="https://qualitystandardohio.com/contact">Contact us</a>
    </div>
</section>