.message div {
  margin-bottom: 2rem;
}

/* Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

/* Loader estilo círculo giratorio */
.loader {
  border: 8px solid #f3f3f3;
  /* Color de fondo del borde */
  border-top: 8px solid var(--primary-green);
  /* Color del borde superior */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Animación de giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tab-button.active {
  box-shadow: 0px 2px 16px #10C610;
}

.tab-button.active svg {
  fill: var(--secondary-green);
  /* fill: var(--primary-green); */
}