.page-numeration {
    color: var(--primary-green);
    font-weight: bolder;
}

h1 {
    text-align: center;
    color: var(--primary-green);
    margin-top: 3rem;
    margin-bottom: 3rem;
}
button {
    background-color: #fff;
    border: none;
    margin-right: 10px;
}