<div class="login-container">
    <div class="login-form">
        <img src="logo_01.webp" alt="Logo" class="logo">
        <h2>Welcome back</h2>
        <p>Please enter your email and password to continue.</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="username" placeholder="Username" required>
            <input type="password" formControlName="password" placeholder="Password" required>
            <!-- <a href="#" class="forgot-password">¿Olvidó su contraseña?</a> -->
            <button type="submit" class="btn login-btn" [disabled]="loginForm.invalid">Login</button>
        </form>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
</div>