:root {
    --font-family: "Montserrat", sans-serif;
    --shadow: 0px 2px 16px rgba(0, 0, 0, 0.42);
    --border-radius: 16px;

    /* Primary Colors */
    --primary-green: #008037;
    --accent-yellow: #FFC30B;
    --secondary-green: #10C610;
    font-family: Arial, sans-serif;
    /* Neutrales */
    --neutral-gray-dark: #646464;
    --neutral-gray-light: #ECECEC;
    --white: #FFFFFF;

    /* Colores Complementarios */
    --dark-green: #0B4D2D;
    --complementary-blue: #0B75D1;
    --complementary-orange: #FF6B0A;

    /* Adicionales */
    --background: #F9F9F9;
    --border-color: #D1D1D1;
}

/* Reset básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--neutral-gray-dark);
}

/* Tipografía */
h1,
h2,
h3,
h4 {
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: bold;
}

h1 {
    font-size: clamp(2.25rem, 2.5vw, 2.75rem);
}

h2 {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

h3 {
    font-size: clamp(1.25rem, 1.5vw, 1.75rem);
}

h4 {
    font-size: clamp(1.125rem, 1.25vw, 1.375rem);
}

p,
a,
li {
    word-wrap: break-word;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--primary-green);
    transition: color 0.2s ease-in;
}

a:hover {
    color: var(--secondary-green);
}

/* Contenedor Flex */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Grillas */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

[class*="col-"] {
    padding: 15px;
}

.col-1 {
    flex: 0 0 8.333%;
    max-width: 8.333%;
}

.col-2 {
    flex: 0 0 16.666%;
    max-width: 16.666%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.col-5 {
    flex: 0 0 41.666%;
    max-width: 41.666%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333%;
    max-width: 58.333%;
}

.col-8 {
    flex: 0 0 66.666%;
    max-width: 66.666%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333%;
    max-width: 83.333%;
}

.col-11 {
    flex: 0 0 91.666%;
    max-width: 91.666%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Cols para pantallas pequeñas (≥576px) */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Cols para pantallas medianas (≥768px) */
@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Cols para pantallas grandes (≥992px) */
@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Cols para pantallas extragrandes (≥1200px) */
@media (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Sistema de Flexbox */
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-fill {
    flex: 1 1 auto;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-first {
    order: -1;
}

.order-last {
    order: 4;
}

.m-auto {
    margin: auto;
}


/* Client Request component */

.next-step {
    background-color: var(--accent-yellow);
    color: var(--dark-green);
    font-size: x-large;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    max-width: 400px;
    min-width: 320px;
}

.next-step:hover {
    opacity: 0.9;
}

.button-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Buttons  */

.tab-button {
    margin-top: 3rem;
    color: var(--primary-green);
    min-width: 10rem;
    padding: 1rem;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    /* transition: opacity 0.3s ease, box-shadow 0.3s ease; */
}

.tab-button:hover {
    /* opacity: 0.9; */
    box-shadow: var(--shadow);
}

.tab-button:hover svg {
    fill: var(--primary-green);
}

.tab-button svg {
    fill: var(--dark-green);
}

.tab-button:active svg {
    fill: var(--secondary-green);
}

.tab-button:hover div {
    color: var(--primary-green);
}

.tab-button:active div {
    color: var(--secondary-green);
}

/* max width */

.message,
form {
    max-width: 400px;
    margin: auto;
    text-align: center;
    display: block;
}

/* forms */
form {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #333333;
    display: block;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: var(--secondary-green);
    /* Color primario */
    box-shadow: 0 0 5px var(--primary-green);
    /* Sombra azul claro */
    outline: none;
}

.form-group input::placeholder {
    color: #aaaaaa;
    font-style: italic;
}